@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body{
  background-color: rgba(238, 237, 223, 0.844);
}

.header{
  text-align: center;
  margin-bottom: 20px;
  font-family: "Courgette";
  font-size: 60px;
  text-decoration: underline;
}

/* player continer */
#playerContainer{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  
}

.player{
  height:100px;
  width:300px;
  border:solid rgb(123, 116, 116);
  border-width: 4px;
  text-align: left;
}

.player1{
  margin-left: 50px;
 
  
}
.resetButton {
  width: 172px;
  height:36px;
  margin-top: 32px;
  border:none;
  background-color: red;
  color:white;
  border-radius: 3px;
  box-shadow: 3px 3px gray;
}

.resetButton:hover{

  background-color:aliceblue;
  color:black
}

.player2{
  margin-right: 60px;

}
.inputBox{
  margin-top: 10px;
  margin-left: 30px;
  
}

.inputButton{
  height:20px;
  width:70px;
  margin-left: 10px;
  background-color: red;
  color:white;
  border-radius: 3px;
  box-shadow: 3px 3px gray;
}

/* //top Divs */
#topDiv{
  display:flex;
  flex-direction: row;
  justify-content: center;


  

}
.top{
  text-align: center;
  font-size: 100px;
 
}

.middle{
    text-align: center;
    font-size: 100px;
}

.bottom{
  text-align: center;
  font-size: 100px;
}

.topLeft{
  width: 134px;
  height: 118px;
  border-right: solid black;
  border-bottom: solid black;
  border-width: 13px;
 
}

.topMiddle{
  width: 134px;
  height: 118px;
  border-right: solid black;
  border-bottom: solid black;
  border-width: 13px;
  
}

.topRight{
  width: 134px;
  height: 118px;
  border-bottom: solid black;
  border-width: 13px;
}


/* Middle Divs */
#middleDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.middleLeft{
  width: 134px;
  height: 118px;
  border-right: solid black;
  border-bottom: solid black;
  border-width: 13px;
 
}

.middleMiddle{
  width: 134px;
  height: 118px;
  border-right: solid black;
  border-bottom: solid black;
  border-width: 13px;
  
}

.middleRight{
  width: 134px;
  height: 118px;
  border-bottom: solid black;
  border-width: 13px;
}

/* Bottom Div */

#bottomDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;

}

.bottomLeft{
  width: 134px;
  height: 118px;
  border-right: solid black;
  border-width: 13px;
 
}

.bottomMiddle{
  width: 134px;
  height: 118px;
  border-right: solid black;
  border-width: 13px;
 
  
}

.bottomRight{
  width: 134px;
  height: 118px;
  border-width: 13px;

}
